.perspective-button {
	-fx-cursor: hand;
}

.perspective-button:armed, .perspective-button:armed, .perspective-button:selected {
    -fx-border-color: -minifx-button-border-selected;
    -fx-background-color: -minifx-button-background-selected;
    -fx-text-fill: -minifx-button-text-color-selected;
}

.toolbar-button {
	-fx-alignment: top-center;
	-fx-padding: 1px; /* Reset padding, workaround */
}